html {
    font-size: 62.5%;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #dedede;
    font-family: Abel, sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #5cd1b4;
    font-family: Sedgwick Ave, cursive;
    font-weight: lighter;
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

h2 {
    color: #000000;
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.italic {
    font-style: italic;
}

.card {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 50%;
    background-color: #fdfdfd;
    padding: 20px;
    font-size: 2rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

a {
    color: #4daf97;
}

a:hover {
    color: #675ad0;
}

p {
    color: #000000;
    margin: 0 15px;
}

ul {
    color: #000000;
    overflow: hidden;
}

.header {
    background-color: #fdfdfd;
    padding: 15px;
    margin: 0;
}

@media (max-width: 1600px) {
    .card {
        width: 60%
    }
}

@media (max-width: 1400px) {
    .card {
        width: 70%
    }
}

@media (max-width: 900px) {
    .card {
        width: 80%
    }
}

@media (max-width: 600px) {
    .card {
        width: 100%;
    }
}
