body {
  margin: 0;
  padding: 0;
  background-image: url("../images/laptop.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: Abel, sans-serif;
  font-size: 22px
  }

h1   {
  color: #000000;
  font-size: 2em;
  /*text-align: center;*/
  margin: 0;
  }

h2   {
  color: #000000;
  font-size: 1.5em;
  /*text-align: center;*/
  margin: 0;
  }

main {
  margin: 40px;
  padding: 10px;
  display: flex;
}

#pic {
  padding: 0;
  margin-right: 20px;
}

#bio {
  background-color: #ffffff;
  opacity: 0.7;
  padding: 10px;
}

a {
  color: #609c9f;
}

a:hover {
  color: #B648A9;
}

p    {
  color: #609c9f;
  }

ul  {
  color: #609c9f; overflow: hidden; 
  }

.header {
  background-color: #ffffff;
  opacity: 0.7;
  padding: 15px;
  margin: 0;
}

.content {
  background-color: #ffffff;
  color: #45a8a3;
  display: flex;
  padding: 15px;
}

.thumbnail {
  width: 200px;
  margin: 0px 0px 0px 20px;
}

p {
  margin: 0 15px;
}
